NODE_ENV=development
PORT=4000
CORS_ORIGIN=*
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/freshops-ai?retryWrites=true&w=majority
CLARIFAI_PAT=<your_clarifai_pat>
CLARIFAI_USER_ID=<your_clarifai_user_id>
CLARIFAI_APP_ID=<your_clarifai_app_id>
CLARIFAI_MODEL_ID=food-item-recognition
